{% extends '::base.html.twig' %}

{% block header %}
    {# ----------------- Menu dashboard ----------------- #}
    {% include 'includes/menu_user_dashboard.html.twig' %}
    <h5 class="title-page mb-5">Modifier mon mail</h5>
{% endblock %}

{% block content %}
    {% include "@FOSUser/Profile/edit_content.html.twig" %}
{% endblock content %}

{% block scripts %}
    <script>
        {# empèche l'username d'être changé #}
        var username = $('#fos_user_profile_form_username').val()

        $('#fos_user_profile_form_username').on('change', function () {
            $(this).val(username)
        })
    </script>
{% endblock %}
