{% extends 'base.html.twig' %}

{% block content %}
<main>

    <h5 class="title-page mt-5 mb-4">Mentions légales</h5>

    <div class="container">
        <div class="mentions">
            <p style="text-align: justify">
                Le site "Les-associables" est un projet fil rouge destiné à l'obtention du diplôme de développeur d'applications Web & Mobile, suite à la formation rapide de la
                <a href="https://www.lapiscine.pro/" target="_blank" class="link-asso">Piscine</a> à Talence (du 01/2019 au 04/2019). Projet réalisé par Yoan Despert. Mon CV | Portfolio:
                <a href="https://bycrea.me" target="_blank" class="link-asso">https://bycrea.me</a><br><br>
                <i>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eu metus vitae sem venenatis laoreet. Aenean viverra, dolor sed pulvinar placerat, arcu tellus dignissim tortor, et scelerisque ex risus eu ex. Nam posuere viverra posuere. Sed a magna suscipit, vehicula neque nec, volutpat dolor. Curabitur ut magna id erat scelerisque lobortis. Aliquam gravida in orci non laoreet. Donec ac interdum enim.
                Mauris eu venenatis sapien. Maecenas non condimentum tellus. Sed gravida sapien non mattis venenatis. Curabitur sit amet porta lectus. Nam dapibus lorem scelerisque, aliquet nulla vitae, dictum augue. Etiam non iaculis eros. Etiam congue leo id interdum vulputate. Fusce aliquet nisl quis dolor luctus, id pellentesque leo molestie. Fusce arcu enim, ultrices eget nulla quis, laoreet malesuada elit. Suspendisse dignissim elit est, non sagittis ante pulvinar non.
                Interdum et malesuada fames ac ante ipsum primis in faucibus. Morbi egestas blandit fermentum. Etiam id viverra nisl. Morbi scelerisque egestas ante nec iaculis. Morbi sodales imperdiet porta. In blandit ornare congue. Aenean quis nibh ut sem malesuada facilisis id nec risus. Vestibulum vestibulum, ipsum id rhoncus faucibus, tellus sapien sagittis nisl, sit amet auctor magna risus a libero. Aenean sapien metus, eleifend quis neque id, consequat tempus ipsum.
                </i>
            </p>
        </div>
        <div class="welcome">
            <p class="header">
                Donnez en quelques cliques aux associations de votre choix
                et déduisez vos dons de votre impôt sur le revenu.
            </p>
            <div class="calc input-group mb-2">
                <label for="donation" class="mr-2">Je donne</label>
                <select name="donation" id="donation" class="donation custom-select">
                    {% for amount in array_amount %}
                        <option
                            {% if amount == default_amount %}
                                {# détecte le montant selectionné par défaut #}
                                selected
                            {% endif %}
                            value="{{ amount }}">{{ amount }}€</option>
                    {% endfor %}
                </select>
                <span class="ml-2">Soit <b><i id="result"></i></b> après réduction</span>
            </div>
            <p>
                Vous pouvez déduire 75 % de votre don à hauteur de 546 € par an. <br>
                Au delà, votre don est déductible à hauteur de 66 % dans la limite de 20 % de votre revenu net imposable.
            </p>
        </div>
        <a href="https://bycrea.me" target="_blank" class="btn btn-info mt-3 mb-5">Nous Contacter</a>
    </div>
</main>
{% endblock %}

{% block scripts %}
    <script>

        calc()

        $(document).ready(function () {

            $('#donation').change(function () {
                calc()
            })
        })

        function calc() {
            var don = $('#donation').val()
            var result = don - (don * 75 / 100)

            $('#result').text(result + '€')
        }
    </script>
{% endblock %}
