{% extends 'base.html.twig' %}

{% block content %}
    <main>
        <h1>mentions légales / contact public</h1>

        <div class="mentions">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eu metus vitae sem venenatis laoreet. Aenean viverra, dolor sed pulvinar placerat, arcu tellus dignissim tortor, et scelerisque ex risus eu ex. Nam posuere viverra posuere. Sed a magna suscipit, vehicula neque nec, volutpat dolor. Curabitur ut magna id erat scelerisque lobortis. Aliquam gravida in orci non laoreet. Donec ac interdum enim. Nulla quis libero et sem cursus egestas et id massa. Nulla convallis velit in volutpat aliquet. Maecenas quam ligula, accumsan a cursus at, volutpat eu sapien. Morbi suscipit cursus ante, ac tempus mi tempus nec.
                Mauris eu venenatis sapien. Maecenas non condimentum tellus. Sed gravida sapien non mattis venenatis. Curabitur sit amet porta lectus. Nam dapibus lorem scelerisque, aliquet nulla vitae, dictum augue. Etiam non iaculis eros. Etiam congue leo id interdum vulputate. Fusce aliquet nisl quis dolor luctus, id pellentesque leo molestie. Fusce arcu enim, ultrices eget nulla quis, laoreet malesuada elit. Suspendisse dignissim elit est, non sagittis ante pulvinar non. Ut metus sem, mollis quis eleifend ut, sagittis non augue.
                Interdum et malesuada fames ac ante ipsum primis in faucibus. Morbi egestas blandit fermentum. Etiam id viverra nisl. Morbi scelerisque egestas ante nec iaculis. Morbi sodales imperdiet porta. In blandit ornare congue. Aenean quis nibh ut sem malesuada facilisis id nec risus. Vestibulum vestibulum, ipsum id rhoncus faucibus, tellus sapien sagittis nisl, sit amet auctor magna risus a libero. Aenean sapien metus, eleifend quis neque id, consequat tempus ipsum. Nulla eget dapibus felis. Vivamus et viverra dolor. Aenean et convallis ante, et iaculis ipsum. Curabitur erat odio, cursus id odio tincidunt, posuere rutrum leo.
                Nullam id mauris sem. Curabitur mauris dolor, faucibus sed est sed, volutpat dictum nisi. Fusce tempus erat sed turpis semper, a mattis eros posuere. Suspendisse vel metus pharetra, tristique tellus ut, pellentesque diam. Integer eleifend ut ante sed sodales. Praesent gravida urna faucibus mollis vestibulum. Sed lacinia pharetra justo, finibus porttitor nunc cursus in. Aenean ullamcorper scelerisque massa a scelerisque. Quisque sem elit, rhoncus sed porttitor et, accumsan id libero. Praesent vitae ornare est, at consectetur justo. Ut id molestie mi, ut vehicula dolor. Etiam non magna eget magna ullamcorper venenatis non pellentesque est. Duis mi magna, fringilla eget dui vel, tristique tempus mi. Donec at justo luctus, blandit enim et, malesuada nulla. Duis eu quam sit amet risus blandit consequat et ac tellus.
            </p>
        </div>
    </main>
{% endblock %}
