{% extends 'base.html.twig' %}

{% block content %}

    {# ----------------- Menu dashboard ----------------- #}
    {% include 'includes/menu_admin_dashboard.html.twig' %}

    {# ----------------- Utilisateurs ----------------- #}
    <h2 class="title dons">Utilisateurs (ADMIN)</h2>

{% endblock %}
