{% extends "::base.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block content %}
    <main id="dashboard">

        <div class="title-page mt-5 mb-4">
            <p>{{ 'registration.check_email'|trans({'%email%': user.email}) }}</p>
        </div>

    </main>
{% endblock content %}
