{% extends "::base.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block content %}
<main id="dashboard">

    <div class="title-page mt-5 mb-4">
        {{ 'registration.confirmed'|trans({'%username%': user.username}) }}
        <br>
        Vous allez être redirigé dans quelques secondes.

        {#{% if targetUrl %}
            <a href="{{ targetUrl }}" class="link-asso mt-4">{{ 'registration.back'|trans }}</a>
        {% endif %}#}
    </div>

</main>
{% endblock content %}

{% block scripts %}
    {# Permet de rediriger vers /users/redirect après un delay de 5000ms (5s) #}
    <script>
        $(document).ready(function () {
            setTimeout(function () {
                window.location = '/users/redirect';
            }, 5000)
        })
    </script>
{% endblock %}