{% extends '::base.html.twig' %}

{% block header %}
    {# ----------------- Menu dashboard ----------------- #}
    {% include 'includes/menu_user_dashboard.html.twig' %}
    <h5 class="title-page mb-5">Modifier mon mail</h5>
{% endblock %}

{% block content %}
    {% include "@FOSUser/ChangePassword/change_password_content.html.twig" %}
{% endblock content %}

