{% extends 'base.html.twig' %}

{% block header %}
    {# ----------------- Menu dashboard ----------------- #}
    {% include 'includes/menu_admin_dashboard.html.twig' %}
{% endblock %}

{% block content %}

    {# ----------------- Historique des paiement ----------------- #}
    <h2 class="title dons">Historiques des paiement (ADMIN)</h2>

{% endblock %}
