{% extends 'base.html.twig' %}

{% block header %}
    {# ----------------- Menu dashboard ----------------- #}
    {% include 'includes/menu_user_dashboard.html.twig' %}
{% endblock %}

{% block content %}


    {# ----------------- Historiques des avis ----------------- #}
    <h2 class="title-page">Historiques des avis</h2>


{% endblock %}
