{% extends 'base.html.twig' %}

{% block content %}

    {# ----------------- Menu dashboard ----------------- #}
    {% include 'includes/menu_user_dashboard.html.twig' %}

    {# ----------------- Historiques des avis ----------------- #}
    <h2 class="title infos">Historiques des avis</h2>


{% endblock %}
