{% extends '::base.html.twig' %}

{% block content %}
    <main>
        <div class="container">
        {% include "@FOSUser/Resetting/request_content.html.twig" %}
        </div>
    </main>
{% endblock content %}
