
{# ----------------- message d'erreur et loading AJAX ----------------- #}
<div id="flash-ajax" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <p></p>
</div>
<div id="loading-modal" class="d-none" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <i class="fas fa-spinner fa-3x"></i>
</div>