{% extends 'base.html.twig' %}

{% block header %}
    {# ----------------- Menu dashboard ----------------- #}
    {% include 'includes/menu_admin_dashboard.html.twig' %}
    <h5 class="title-page mb-4">Ajouter / Editer une association</h5>
{% endblock %}

{% block content %}
<main id="dashboard">

    {# ----------------- Categories ----------------- #}
    <div class="title-page">
        <h2>Editer une association</h2>
    </div>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-warning btn-sm">Valider</button>
    <a href="{{ path('admin_associations') }}" class="btn btn-danger btn-sm">Annuler</a>
    {{ form_end(form) }}

</main>
{% endblock %}
