{% extends 'base.html.twig' %}

{% block content %}

    {# ----------------- Menu dashboard ----------------- #}
    {% include 'includes/menu_admin_dashboard.html.twig' %}

    {# ----------------- Editer une Association ----------------- #}
    <h2 class="title dons">Editer une Association (ADMIN)</h2>

{% endblock %}
