{% extends 'base.html.twig' %}

{% block content %}

    {# ----------------- Menu dashboard ----------------- #}
    {% include 'includes/menu_admin_dashboard.html.twig' %}

    {# ----------------- Associations ----------------- #}
    <h2 class="title dons">Associations (ADMIN)</h2>

{% endblock %}
