{% extends 'base.html.twig' %}

{% block header %}
    {# ----------------- Menu dashboard ----------------- #}
    {% include 'includes/menu_admin_dashboard.html.twig' %}
{% endblock %}

{% block content %}

    {# ----------------- Categories ----------------- #}
    <div class="title-page">
        <h2>Modifier une catégorie (ADMIN)</h2>
    </div>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-warning btn-sm">Valider</button>
    <a href="{{ path('admin_categories') }}" class="btn btn-danger btn-sm">Annuler</a>
    {{ form_end(form) }}

{% endblock %}
