{% extends 'base.html.twig' %}

{% block content %}

    {# ----------------- Menu dashboard ----------------- #}
    {% include 'includes/menu_admin_dashboard.html.twig' %}

    {# ----------------- Categories ----------------- #}
    <h2 class="title dons">Ajouter une categorie (ADMIN)</h2>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit">Valider</button>
    {{ form_end(form) }}

{% endblock %}
