{% extends 'base.html.twig' %}

{% block content %}

    {# ----------------- Menu dashboard ----------------- #}
    {% include 'includes/menu_admin_dashboard.html.twig' %}

    {# ----------------- Categories ----------------- #}
    <h2 class="title dons">Categories (ADMIN)</h2>

    {% for category in categories %}
        <span>{{ category.name }}</span>
        <a href="{{ path('admin_categories_update', {id: category.id}) }}">Editer</a>
        <a href="{{ path('admin_categories_delete', {id: category.id}) }}">Supprimer</a>
        <br>
    {% endfor %}

    <a href="{{ path('admin_categories_create') }}">Ajouter</a>

{% endblock %}
